.nav {
    height: 60px;
    border-bottom: 2px solid rgba(216, 211, 211, 0.884);
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: 0.5s;
    a {
        text-decoration: none;
    }
    .nav-wrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        transition: 0.4s;
        .left-container {
            display: flex;
            align-items: center;
            .left-menuicon {
                .icon {
                    font-size: 35px;
                    margin-left: 20px;
                }
            }
            .logo-container {
                margin-left: 30px;
                h3 {
                    color: #077021;
                    font-size: 1.2em;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }
        .center-container {
            .navlink {
                padding: 10px;
                color: black;
            }
        }
        .right-container {
            margin-right: 20px;
            .right-link {
                padding: 10px;
                color: black;
            }
            .login {
                font-size: 1em;
                font-weight: bold;
                color: rgb(88, 84, 84);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .left-menuicon {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .center-container {
        display: none;
    }
    .right-container {
        .login,
        .search,
        .fav {
            display: none;
        }
    }
}